body {
    font-size: 15px;
}
.navbar-inverse {
    background-color: #182A60;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #fff;
}
.navbar-inverse .navbar-form input[type=text],
.navbar-inverse .navbar-form input[type=password] {
  color: #fff;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
}
.navbar-inverse .navbar-form input[type=text]::-moz-placeholder,
.navbar-inverse .navbar-form input[type=password]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.navbar-inverse .navbar-form input[type=text]:-ms-input-placeholder,
.navbar-inverse .navbar-form input[type=password]:-ms-input-placeholder {
  color: #fff;
}
.navbar-inverse .navbar-form input[type=text]::-webkit-input-placeholder,
.navbar-inverse .navbar-form input[type=password]::-webkit-input-placeholder {
  color: #fff;
}
